body {
    background: linear-gradient(lightgreen 0%, greenyellow 50%, green 100%);
    ;
    text-align: center;
}

h1 {
    font-family: cursive;
    font-weight: bold;
}

.images {
    display: flex;
    justify-content: center;
}

p {
    background-color: black;
    color: white;
}

div {
    margin-top: 15px;
}

.section-style {
    margin-left: 25px;
    margin-right: 25px;
}

hr {
    height: 5px;
    background-color: darkslateblue;
}
